<html>

<head>
        <style>
        .body {
            background-image: url("/static/flazhki.jpg");
            background-size: cover;
        }

        .header {
            text-align: center;
            font-size: 50px;
            margin: auto auto 30px auto;
        }

        .zapros {
            background-color: aliceblue;
            border-radius: 5px;
            box-shadow: 4px 3px 15px 1px rgb(rgb(126, 126, 126));
            margin: 20px auto 30px auto;
            padding: 20px 40px 50px 25px;
            width: 900px;
            position: relative;
            display: flex;
            flex-direction: column;
        }

        .input {
            margin: 5px auto 10px 30px;
        }

        .text {
            height: 100px;
            width: 800px;
        }
        .otpravka {
            position: absolute;
                bottom: 30px;
                background-color: rgba(0, 34, 255, 0.064);
                color: rgb(255, 0, 0);
                margin: 5px 5px 5px 750px;
                border-color: rgb(68, 136, 224) ;
                height: 50px;
                width: 150px;
                font-size: 20px;
        }
    </style>
</head>

<body class="body">
    <div>
        <h3 class="header">Создать обращение</h3>
    </div>
    <div class="main">
        <div class="zapros">
            <form>
                <h2>Пожалуйста, укажите дату Вашего обращения</h2>
                <input class="input" name="date" type="date" id="appeal-date" value="{{ form.cleaned_data.date }}11/25/2023"/>
                <p><b>Опишите, пожалуйста, Вашу проблему:</b></p>
                <p><textarea rows="10" cols="45" name="text" >{{ form.cleaned_data.text }}</textarea></p>
                <h2>По необходимости прикрепите фотографию (обращения с фотографиями значительно сокращают время
                    обработки запроса):</h2>
                <input class="input" name="file" type="file" />
                <h2> Пожалуйста, укажите Ваш номер телефона:</h2>
                <input class="input" name="tel" type="tel" />
                <p ><input class="otpravka" type="submit" value="Отправить"></p>
                {% if form.errors %}
                    <h4>Необходимо заполнить:</h4>
                <p>{{ form.errors }}</p>
                {% elif success %}
                    <h4>Ваше обращение было сохранено!</h4>
                    <p>{{ appeal_text }}</p>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="footer">

    </div>
    <script>document.getElementById('appeal-date').value = new Date().toISOString().slice(0, 10);</script>
</body>

</html>
