<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
        <style>
            .body {
                background-image: url("/static/ktc.jpg");
                font-family: Arial, Helvetica, sans-serif;
            }
            .header {
                text-align: center;
                font-size: 50px;
                text-shadow: rgb(156, 155, 155) 4px 3px 5px;
                margin: auto auto 30px auto;
            }
            .zapros {
                background-color: aliceblue;
                border-radius: 5px;
                box-shadow: 4px 3px 15px 1px rgb(rgb(126, 126, 126));
                margin: 30px auto 30px auto;
                padding: 30px 40px 50px 25px;
                width: 900px;
                position: relative;
            }
            .h {
                font-size: 25px;
                color: rgb(64, 64, 64);
            }
            .span {
                font-size: 30px;
                color: black;
            }
            .p {
                font-size: 20px;
            }
            .button {
                position: absolute;
                top: 32px;
                background-color: rgba(18, 236, 102, 0.295);
                color: black;
                margin: 5px 5px 5px 750px;
                border-radius: 5px;
                height: 50px;
                width: 150px;
                text-align: center;
                font-size: 17px;
            }
            .statistika {
                height: 100;
                width: 200;
                font-size: 30px;
                position: fixed;
                top: 100px;
                right: 10px;
            }

        </style>
    </head>
    <body class="body">
        <div>
            <h3 class="header">Последние обращения</h3>
        </div>
        <div class="main">
            {% for appeal in results %}
            <div class="zapros">
                <h2>Обращение {{ appeal.date }}</h2>
                <p class="p">{{ appeal.text }}</p>
                <h1 class="h">Группа тем: <span class="span">{{ appeal.topic_group }}</span> ({{ appeal.print_topic_group_score }}%)</h1>
                <h1 class="h">Тема: <span class="span">{{ appeal.topic }}</span> ({{ appeal.print_topic_score }}%)</h1>
                <h1 class="h">Отвечающее ведомство: <span class="span">{{ appeal.destination }}</span> ({{appeal.print_topic_destination_score}}%)</h1>
                <button class="button">Отредактировать</button>
            </div>
            {% endfor %}
            <div>
                <button class="statistika">
                    <i class="bi bi-graph-up"></i>
                    Статистика
                </button>
            </div>
        </div>
        <div class="footer">

        </div>
    </body>
</html>
