<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
</head>
<body>
    <h1>Search Results</h1>

    <form method="get" action="{% url 'search_view' %}">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>

    {% if results %}
        <h2>Results:</h2>
        <p><select size="10" multiple name="hero[]">
            {% for item in results %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
           </select></p>
    {% else %}
        <p>No results found.</p>
    {% endif %}
</body>
</html>
